

.nav--header {
  @include vp-767 {
    display: none;
  }
}

.header__wrapper .is-open {
  @include vp-767 {
    display: block;
    background-color: $color-alice-blue;
  }
}

.nav__link {
  @include vp-767 {
    color: $color-tangaroa;
  }
}




.logo svg path {
  fill: $color-alice-blue;
}

.is-open .logo svg path {

  fill: $color-tangaroa;
}

.is-open .logo {
  margin-left: 36px;
  z-index: 40;
}

.is-open .header-example__nav::before {
  background: rgba(0, 43, 102, 0.5);
}

.nav__overlay {
  display: none;
}

.is-open .nav__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0,43,102,.5);
}

// .burger::before {
//   right: 0;
//   top: 5px;
//   display: block;
//   content: "";
//   position: absolute;
//   width: 24px;
//   height: 2px;
//   background-color: $color-alice-blue;
// }

// .burger::after {
//   right: 0;
//   top: 9px;
//   display: block;
//   content: "";
//   position: absolute;
//   width: 24px;
//   height: 2px;
//   background-color: $color-alice-blue;
// }

// .burger::before,
// .burger::after {
//   content: "";
//   position: absolute;
//   width: 20px;
//   height: 20px;
//   background-color: $color-alice-blue;
//   transition: transform 0.2s ease-out;
// }



// .burger.is-open::before {
//   transform: translateY(10px) rotate(45deg);
// }

// .burger.is-open::after {
//   transform: translateY(-10px) rotate(-45deg);
// }

// .burger.is-open::before,
// .burger.is-open::after {
//   top: 50%;
// }
