
.cards__item {
  display: block;
  text-decoration: none;
  position: relative;
  background-color: $color-tangaroa;
}

.cards {
  margin-left: auto;
  margin-right: auto;
  min-width: 260px;
  min-height: 386px;

  @include vp-1023 {
    min-width: 309px;
    max-width: 309px;
  }

  @include vp-767 {
    min-width: 270px;
    max-width: 270px;
  }
}

.cards__front {
  position: relative;
  overflow: hidden;
}

.cards__front h3 {
  bottom: 3px;
  left: 30px;
  content: "";
  position: absolute;
  color: $color-alice-blue;

  @include vp-1023 {
    bottom: 10px;
    left: 35px;
  }

  @include vp-767 {
    bottom: 1px;
    left: 25px;
  }
}

.cards__item .cards__front {
  backface-visibility: hidden;
  transition: all 0.2s ease;
}

.cards__item .cards__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 25px 35px 25px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.2s ease;

  color: $color-alice-blue;
  min-height: 386px;
}

.cards__back h3 {
  margin: 0;
  margin-bottom: 14px;
}

.cards__item:hover .cards__front {
  transform: rotateY(-180deg);
}

.cards__item:hover .cards__back {
  transform: rotateY(0);
}

.cards__front img {
  object-fit: cover;
  display: block;
}

.cards__back {
  padding: 25px 35px;
  overflow: auto;
  max-height: 386px;
}

.cards__back::-webkit-scrollbar {
  width: 4px;
  background-color: $color-quartz;
}

.cards__back-list dt {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 1px;
}

.cards__back-list {
  margin: 0;
  margin-bottom: 24px;
}

.cards__back-list dd {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: $color-quartz;
  margin-bottom: 11px;
}

.cards__button {
  border: none;
  outline: none;
  background-color: $color-alice-blue;
  padding: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  min-width: 210px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
