.catalog h2 {
  color: $color-tangaroa;
  text-align: center;
  margin: 0 0 48px;

  @include vp-1023 {
    margin: 0 0 50px;
  }

  @include vp-767 {
    margin: 0 0 31px;
  }
}

.catalog {
  padding: 86px 118px 120px;

  @include vp-1023 {
    padding: 89px 60px 100px;
  }

  @include vp-767 {
    padding: 55px 25px 66px 25px;
  }
}

.catalog__list {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  min-width: 260px;
  min-height: 386px;

  @include vp-1310 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.catalog__item,
.catalog__item::before,
.catalog__item::after {
  box-sizing: border-box;
}
