.footer {
  background-color: $color-tangaroa;
}

.footer__wrapper {
  min-height: 138px;
  display: flex;
  flex-direction: row;
  padding: 50px 0 35px 0;
  width: 100%;
  gap: 40px;

  @include vp-1023 {
    min-height: 120px;
    gap: 25px;
    padding: 41px 0 37px 0;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 31px 0;
    row-gap: 0;
    align-items: flex-start;
    max-width: 130px;
  }
}

.footer__wrapper .logo {
  display: flex;

  @include vp-1023 {
    padding-top: 10px;
  }

  @include vp-767 {
    margin-bottom: 15px;
  }
}

.footer .nav-link {
  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  padding-top: 7px;

  @include vp-1088 {
    gap: 17px;
  }

  @include vp-1023 {
    margin-left: 0;
    gap: 23px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 8px;
  }
}

.footer .logo {
  @include vp-767 {
    margin-right: auto;
  }
}

.footer__nav-item .nav__link {
  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }
}
