.header {
  width: 100%;
  background-color: $color-tangaroa;
  color: $color-alice-blue;
}

.header__wrapper {
  min-height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 103px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__nav-link {
  color: $color-alice-blue;
  font-weight: 500;
  line-height: 19px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 33px;
  padding-top: 13px;
}

// .header__background-image {

// }
