.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 34px;
  padding-top: 2px;
  margin-left: 40px;

  @include vp-1023 {
    font-size: 14px;
    gap: 23px;
    padding-top: 0;
  }

  @include vp-767 {
    display: block;
    margin-right: auto;
    margin-left: 0;
  }
}

.nav__link {
  color: $color-alice-blue;
  font-weight: 500;
  line-height: 19px;
  cursor: pointer;
  white-space: pre;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }
}

.nav--header {
  @include vp-767 {
    display: none;
  }
}
