.social-list {
  display: flex;
  gap: 27px;
  align-items: center;
  margin-left: auto;
  padding-top: 11px;

  @include vp-1023 {
    padding-top: 4px;
    gap: 21px;
  }

  @include vp-767 {
    margin-right: auto;
    margin-left: 0;
  }
}

.social-list__item-link {
  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }
}

.social-list__icon {
  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}
