.social-list {
  display: flex;
  gap: 27px;
  // align-items: center;
  max-width: 120px;
  margin-left: auto;
  padding-top: 11px;
  flex-wrap: wrap;

  @include vp-1023 {
    padding-top: 8px;
    gap: 22px;
  }

  @include vp-767 {
    margin-right: auto;
    margin-left: -4px;
    margin-top: 15px;
  }
}

.social-list__item-link {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__icon {
  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}
